body {
    margin: 0;
    padding: 0;

}

.navigation {
    width: 50px;
    height: 200vh;
    position: absolute;
    background-color: white;

}

.date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding-top: 150px;
    position: relative;
    right: 0;
    transform: rotate(180deg);
    z-index: 100;
}

a:active {
    color: gray;
}

a {
    text-decoration: none;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
}

.receipt {
    top: 150px;
    left: 40%;
    position: relative
}

.cafe {
    position: relative;
    top: 150px;
    left: 40%;
    font-size: 100px;
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
}
.img {
    position: relative;
    margin-left: 10%;
    margin-right: 50%;


}


