body {
    font-family: "Lato";
    font-size: 15px;
}


img {
    max-width: 500px;
}      

.imgs {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    top: 55%;
}

.logo {
    max-width: 220px;

    position: absolute;
    top: 8%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    
}

.title {
    position: absolute;
    top: 16%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
  
}

.articles {
    width: 500px;
    top: 90%;
    left: 15%;
    position: absolute;


}