body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    font-family: "Lato"; 
    font-size: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    background: white;
    
}

* {
    box-sizing: border-box;
}

div:hover {
    opacity: 0.0;
}

div {
    width: 100px;
    height: 20px;
    /* background-color: teal; */
    background-color: white;
    position: fixed;
}

div:hover {
    opacity: 0.0;
}


#rec_1 {
    width: 1000px;
    height: 35px;
    left: 15vw;
    top: 0vh;
}

#rec_2 {
    width: 1000px;
    height: 35px;
    left: 15vw;
    top: 6vh;

}

#rec_3 {
    width: 1000px;
    height: 35px;
    left: 15vw;
    top: 12vh;
}

#rec_4 {
    width: 1000px;
    height: 35px;
    left: 15vw;
    top: 18vh;
}

#rec_5 {
    width: 1000px;
    height: 35px;
    left: 15vw;
    top: 26vh;
}

#rec_6 {
    width: 1000px;
    height: 35px;
    left: 15vw;
    top: 34vh;
}

#rec_7 {
    width: 1000px;
    height: 35px;
    left: 15vw;
    top: 42vh;
}


#rec_8 {
    width: 1000px;
    height: 35px;
    left: 15vw;
    top: 50vh;
}

#rec_9 {
    width: 1000px;
    height: 35px;
    left: 15vw;
    top: 56vh;
}

#rec_10 {
    width: 1000px;
    height: 35px;
    left: 15vw;
    top: 64vh;
}

#rec_11 {
    width: 1000px;
    height: 35px;
    left: 15vw;
    top: 72vh;
}

#rec_12 {
    width: 1000px;
    height: 35px;
    left: 15vw;
    top: 80vh;
}

#rec_13 {
    width: 1000px;
    height: 35px;
    left: 15vw;
    top: 88vh;
}

#rec_14 {
    width: 1000px;
    height: 35px;
    left: 15vw;
    bottom: 0vh;
}




























