html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Lato";
}

* {
    box-sizing: border-box;
}

#navigation {
    width: 200px;
    height: 100%;
    margin: 0 10% 0 10%;
    padding: 0 10px 0 10px;
    background-color: black;
    float: left;
    position: fixed;
    z-index: 100;
}

#logo {
    color: white; 
    padding-left: 10px;
}

#logo h1 {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
    font-size: 51px;
    line-height: 60px;
}

.nav-link {
    background-color: transparent;
    margin: 10px 0px 10px 0px;
    padding: 5px 5px 5px 5px;
}

.nav-link a {
    color: white;
    font-size: 25px;
    line-height: 35px; 
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
}


#content {
    width: 50%;
    margin: 0px auto 0px auto;
    padding: 100px 25px 100px 25px;
    float: left;
}

p {
    font-size: 20px;
    line-height: 25px;
}

#navigation.top {
    width: 100%;
    height: auto;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    display: table;
}

#navigation.top #logo {
    float: left;
}

#navigation.top #logo h1 {
    padding: 10px 10px 10px 10px;
}

#navigation.top .nav-link {
    float: left;
    margin: 15px 10px 0px 10px;
}

.image1 {
    position: absolute;
    top: 20vh;
    padding-left: 15vw;

}

.image1 img{
    height: 20vw;
    float: none;
    padding: 20px 20px 20px 20px;
}

.image2 {
    position: absolute;
    top: 60vh;
    padding-left: 15vw;

}

.image2 img{
    height: 15.75vw;
    float: none;
    padding: 20px 20px 20px 20px;

}

.image3 {
    position: absolute;
    top: 90vh;
    padding-left: 15vw;
    padding-bottom: 5vh;
}

.image3 img{
    height: 19.75vw;
    float: none;
    padding: 20px 20px 20px 20px;

}







